<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role %>
</p>

<p>
  <strong>Image:</strong>
  <%= @member.image %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @member.bio %>
</p>

<p>
  <strong>Datejoined:</strong>
  <%= @member.dateJoined %>
</p>

<p>
  <strong>Datemodified:</strong>
  <%= @member.dateModified %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
